@model ShippingMethodModel

@{
    //page title
    ViewBag.Title = T("Merchant.Configuration.Shipping.Methods.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Shipping providers");
}

<form asp-controller="Shipping" asp-action="CreateMethod" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Merchant.Configuration.Shipping.Methods.AddNew") 
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Methods">@T("Merchant.Configuration.Shipping.Methods.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Merchant.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Merchant.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("MerchantWidget", new { widgetZone = MerchantWidgetZones.ShippingMethodDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateMethod", Model)
</form>