@model CustomerAddressModel

@{
    //page title
    ViewBag.Title = T("Merchant.Customers.Customers.Addresses.EditAddress").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

<form asp-controller="Customer" asp-action="AddressEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Merchant.Customers.Customers.Addresses.EditAddress") 
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.CustomerId">@T("Merchant.Customers.Customers.Addresses.BackToCustomer")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Merchant.Common.Save")
            </button>
            @await Component.InvokeAsync("MerchantWidget", new { widgetZone = MerchantWidgetZones.CustomerAddressDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateAddress", Model)
</form>