@model ManufacturerModel

@{
    //page title
    ViewBag.Title = T("Merchant.Catalog.Manufacturers.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Manufacturers");
}

<form asp-controller="Manufacturer" asp-action="Create" method="post" id="manufacturer-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Merchant.Catalog.Manufacturers.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Merchant.Catalog.Manufacturers.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Merchant.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Merchant.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("MerchantWidget", new { widgetZone = MerchantWidgetZones.ManufacturerDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>