@model NewsItemModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="news-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Merchant.ContentManagement.News.NewsItems.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-seo" asp-title="@T("Merchant.Common.SEO")">@await Html.PartialAsync("_CreateOrUpdate.Seo", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new MerchantTabStripCreated(this.Html, "news-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}