@model VerificationOfThingsModel
 @using System.Text.Encodings.Web
@{Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

}
<h1>Hello VOT</h1>